
$gray1: #1a1a1a;
$gray2: #2e2e2e;
$gray3: #353535;
$gray4: #424242;
$gray5: #505050;
$gray7: #707070;

@mixin button-common($color: $gray7){

  background-color: $color;
  border-radius: 8px;
  border: 1px solid transparent;

  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s, opacify 0.25s;


  &:hover {
    border-color: #6f6fff;
    opacity: 70%;
  }
}
