
$gray1: #1c1e1f;
$gray2: #2f2f2f;
$gray3: #353535;
$gray4: #424242;
$gray5: #505050;
$gray7: #707070;
$green6: #16a34a;

@mixin button-common($color: $gray7){
  border: none;
  background-color: $color;
  border-radius: 8px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  position: relative;

  &:hover {
    animation: .4s ease-in ;;
    opacity: 65%;
    transition: border-color 0.9s, opacity .25s;
  }

}





